@model IEnumerable<OrderForm2016.Models.QuoteFormResults>

@{
	ViewBag.Title = "Quote Results";
}

<section class="page-title">
	<div class="container">

		@*<div class="btn-toolbar pull-right">
				<a href="#" class="btn btn-default" onclick="ShowEmailQuote()"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</a>
				<a href="javascript:window.print()" class="btn btn-default"><i class="fa fa-print" aria-hidden="true"></i> Print</a>
			</div>*@

		<h2>Quote Results</h2>

	</div>
</section>

@if (ViewBag.NoResults)
{
	<section class="page-section">
		<div class="container">
			<div class="alert alert-danger">
				<strong>Sorry, no results were found</strong> @ViewBag.ErrMessage
			</div>
		</div>
	</section>
}
else
{
	<section id="results">
		<div class="container">

			<div class="row">


				<div class="col-sm-4  col-lg-3">
					<aside class="widget  compact" id="trip-details">
						<header class="widget-header primary">
							<h3 class="widget-title">Your Trip Details</h3>
						</header>
						<div class="widget-block">
							<table class="table  small  borderless">
								<tbody>
									<tr><th>Departure Date</th><td class="text-right">@Model.First().eff_date.ToShortDateString()</td></tr>
									<tr><th>Return Date</th><td class="text-right">@Model.First().term_date.ToShortDateString()</td></tr>
									<tr><th>Origin</th><td class="text-right">@Model.First().country</td></tr>
									<tr><th>Destination</th><td class="text-right">@Model.First().destination</td></tr>
									@if (Model.First().travelerAges != null)
									{
										var ageStr = "";
										foreach (var age in Model.First().travelerAges)
										{
											ageStr += age + ",";
										}
										<tr><th>Traveler Ages</th><td class="text-right">@ageStr.TrimEnd(',')</td></tr>
									}
									@if (Model.First().trip_cost_per_person > 0)
									{
									<tr><th>Per Person Trip Cost</th><td class="text-right">@string.Format("{0:c0}", Model.First().trip_cost_per_person)</td></tr>
									<tr><th>Trip Purchase Date</th><td class="text-right">@Model.First().trip_purchase_date.ToShortDateString()</td></tr>
									}
								</tbody>
							</table>
							<button class="btn btn-info btn-block no-shadow hidden" disabled>Edit My Quote</button>
						</div>
					</aside>


					<div class="widget compact text-center no-print">
						<div class="widget-header">
							<h4 class="widget-title"> Save Your Quote</h4>
						</div>
						<div class="widget-block">
							@*<p>Enter an email &amp; we will send you a link to this page.</p>*@
							<div class="sidebarEmailFields">
								<a href="javascript:void(0)" class="btn btn-success no-shadow" onclick="ShowEmailQuote()"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</a>&nbsp;
								<a href="javascript:window.print()" class="btn btn-warning no-shadow"><i class="fa fa-print" aria-hidden="true"></i> Print</a>
							</div>
						</div>
					</div>

				</div><!-- /.col -->


				<div class="col-sm-8  col-lg-8  col-lg-offset-1" id="plans">

					@foreach (var item in Model)
					{
					var typeClass = item.coverageType.Contains("Primary") ? "primary" : "danger";

					<div class="widget  compact" id="p@(item.productID)">

						<header class="widget-header">
							@*<a class="close" href="#"><i class="fa fa-times" title="Click to remove this plan from the list. It will appear in the Hidden Plans list in the lower-left corner of the screen."></i></a>*@

							<div class="row">
								<div class="col-sm-12">
									@*<span class="label  label-@typeClass">@item.coverageType</span>*@
									<!--<h3 class="widget-title">@item.productName</h3>-->
									<div class="plan-carrier">
										@*<div class="plan-logo">
												<a href="#" target="_blank" class="">
													<img class="img-responsive" src="">
												</a>
											</div>*@
										<div class="plan-heading">
											<h4 class="plan-name">@item.productName</h4>
											@*<span class="plan-type">Comprehensive</span>*@
										</div>
									</div>
								</div>
								<div class="col-sm-3  plan-options hidden">
									<span class="label  label-@typeClass">@item.coverageType</span>
									@*<div class="plan-rating">
											<a class="btn-rating" href="[object Object]" target="_blank" title="3.85">
												<span class="rating-stars" data-rating="3.85">
													<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
												</span>
												<span class="rating-count">2126 reviews</span>
											</a>
										</div>*@
								</div>
							</div>
						</header>

						<div class="widget-block">
							<div class="row">

								<div class="col-sm-9">
									<table class="table  table-condensed">
										@for (int i = 0; i < item.optionsList.Count(); i++)
										{
											var option = item.optionsList[i].Split(':');
											<tr>
												<th class="text-primary">@option[0]</th>
												<td class="text-right">@option[1]</td>
												@*<td><a href="#"><i class="fa fa-question-circle-o"></i></a></td>*@
											</tr>
										}
									</table>
									@*<section class="row">
											<div class="col-sm-7">
												<div class="form-group">
													<label class="">Medical Maximum <a class="hidden" href="#"><i class="fa fa-question-circle-o"></i></a></label>
													<select class="form-control  input-sm"></select>
													<small class="help-block">(Per person, policy period)</small>
												</div>
											</div>
											<div class="col-sm-5">
												<div class="form-group">
													<label class="">Deductible <a class="hidden" href="#"><i class="fa fa-question-circle-o"></i></a></label>
													<select class="form-control  input-sm"></select>
													<small class="help-block">(Per person, once annually)</small>
												</div>
											</div>
											<div class="col-sm-12">
												<label class="">Accidental Death and Dismemberment</label>
												<select class="form-control  input-sm"></select>
											</div>
										</section>*@
								</div>

								<div class="col-sm-3  plan-options">
									<hr class="visible-xs">
									<div class="row">
										<div class="col-xs-7  col-sm-12">
											<div class="form-group">
												<label class="">Total Price</label>
												<div><span class="plan-cost">@string.Format("{0:c}", Convert.ToDecimal(item.QuotePrice))</span></div>
											</div>
										</div>
										<div class="col-xs-5  col-sm-12  text-right">
											<br class="visible-xs hidden">
											<label class="checkbox-inline checkbox-compare hidden"><input type="checkbox" class="plan-compare" value="p19"><i class="fa fa-heart" aria-hidden="true"></i><span class="text">Compare</span></label>
										</div>
									</div>
								</div>

							</div>
						</div>

						<footer class="widget-footer">
							<div class="row">
								<div class="col-xs-6  col-sm-9">
									@*<small class="text-muted  hidden">
											<span class="hidden">This policy includes - </span>
											<ul class="list-inline">
												<li>Cancellation <a href="#">$4,000</a></li>
												<li>Interruption <a href="#">$6,000</a></li>
												<li>Medical Evacuation <a href="#">$500,000</a></li>
												<li>Medical <a href="#">$50,000</a></li>
											</ul>
										</small>
										<a class="btn btn-link btn-sm" data-toggle="modal" href="#details">View Plan Details</a>*@
									<a href="@item.brochureLink" class="btn btn-sm btn-link" target="_blank">View Plan Details</a>
								</div>
								<div class="col-xs-6  col-sm-3  text-right">
									@Html.ActionLink("Buy Now", "BaseFormFromQuoteResults", "Home", new { product = item.buyLink.ProductID, QuoteFormID = item.buyLink.quoteFormID, agent_id = item.agent_id }, new { @class = "btn btn-sm btn-warning no-shadow" })
								</div>
							</div>
						</footer>
					</div>
				}

				</div><!-- /.col -->


			</div><!-- /.row -->

		</div>
	</section>
}



@section Scripts {
	<script src="/scripts/main.js"></script>
	@*<script>
			var planNav = $('#plan-nav');
			var planSel = $('#plan-select');
			var planPanes = $('#plan-panes');

			planSel.on('change', function (e) {
				var tab = this.options[this.selectedIndex].value;
				planNav.find('a[href="#' + tab + '"]').click();
			});

			planNav.on('show.bs.tab', 'a', function (e) {
				var tab = this.getAttribute('href').replace('#', '');
				planSel.val(tab);
			});

			planNav.find('li:first').addClass('active');
			planPanes.find('.tab-pane:first').addClass('in active');
		</script>*@
	<script>
		function ShowEmailQuote() {
			@if (Model.Count() > 0){
                var resultsId = Model.First().QuoteFormResultsID;
                <text>PopupCenter("/QuoteForm/EmailQuote/?resultsId=@resultsId&type=blah", "EmailQuote", 800, 700)</text>
            }
			return false;
		}
	</script>
}
